## .NET / Visual Studio
*.suo
*.user
*.userosscache
*.sln.docstates
*.userprefs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Bb]in/
[Oo]bj/
[Ll]og/
Build/

# IDE
.vscode/
.vs/
.idea/
*.sln.iml

# Test results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
*.trx

# NuGet
*.nupkg
**/[Pp]ackages/*
!**/[Pp]ackages/build/
*.nuget.props
*.nuget.targets

# .NET
project.lock.json
project.fragment.lock.json
artifacts/
**/Properties/launchSettings.json

# Misc
*.cache
!*.cache/
*.log
*.tmp
*.binlog
.DS_Store
